*{
	margin:0px;
	border:0px;
	padding:0px;
}
body{
	margin:0;
	background: #f0f0f01;
	font: 14px/20px Arial, San-Serif;
}
h3
{
	line-height: 110%;
	padding: 5% 0;
}
header{
	width: 100%;
	position: fixed;
	background-color: white;
	padding-top: 10px;
	padding-bottom: 1%;
	border-bottom: 1px solid black;
	opacity: 0.90;
}
#logo{
	padding-left: 100px;
}
nav{
	float:right;
	padding-top: 25px;
	padding-right: 100px;
}
ul{

}
nav ul li{
	display: inline-block;

}
#bgimg{
	width: 100%;
	height: 100%;
}
#bgimg1{
	width:100%;
}
section{
	width: 29%;
	float: left;
	margin: 2% 2%;
	text-align: center;
}
footer
{
	background: #333333;
	width: 100%;
	overflow: hidden;
	opacity: 0.90;
	color: #FFF;
}
footer p, footer h3
{
	color: #FFF;
}
footer p a
{
	color: #FFF;
	text-decoration: none;
}
#h3c{
	text-align: center;
}
#social li{
	list-style: none;
	display: inline;
}
/*
#social li img{
	vertical-align: middle;

}
*/
/*
#partner li{
	float: left;
}
*/
footer.second
{
	border-top: 1px solid #4D4E50;
	background-color: #333333;
	max-height: 50px;
	text-align: center;
	opacity: 0.95;
}
